:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #2F303A;
    --secondary-color: #2196F3;
    --white-color: #FFFFFF;
}
/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

/* INDEX HTML */
    /* HEADER */
.header-logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    text-decoration: none;
}

.header-logo:hover,
.header-logo:focus {
    color: var(--secondary-color);
}

.header-logo>span {
    color: var(--secondary-color);
}

.lists { 
    list-style: none;
    font-style: normal;
}

.nav-link.current {
    color: var(--secondary-color)
}

.nav-link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--secondary-color);
}

.header .address-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        text-decoration: none;
        font-style: normal;
        list-style: none;
}

.header .address-link:hover,
.header .address-link:focus {
    color: var(--secondary-color);
}

    /* MAIN */
.hero {
    background-color: var(--secondary-background-color);
}

.hero .title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.hero button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: var(--secondary-color);
}

.hero button:hover,
.hero button:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

        /* FEATURES */
.features .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.features .text {
        font-size: 14px;
        line-height: 1.71px;
        color: var(--secondary-text-color);
}

.todo .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

.team .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

.team .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
}

.team .position {
        font-size: 16px;
        line-height: 1.19;
        color: var(--secondary-text-color);
}


/* FOOTER */
.footer {
    background-color: var(--secondary-background-color);
}

.footer .logo {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.footer .logo .web{
    color: var(--secondary-color);
    
}

.footer .logo:hover,
.footer .logo:focus{
    color: var(--secondary-color);
}

.footer .address {
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-text-color);
        text-decoration: none;
        list-style: none;
}

.address .street {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.footer .address:hover,
.footer .address:focus{
    color: var(--secondary-color);
}

/* PORTFOLIO */
/* button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    border: none
} */

.nav-button {
    color: var(--primary-text-color);
        background-color: #F5F4FA;
        cursor: pointer;
        border: none
}

.nav-button:hover,
.nav-button:focus {
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
    color: var(--primary-text-color);
    text-decoration: none;
}

.examples .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples .text {
        font-size: 16px;
        line-height: 1.88;
        color: var(--secondary-text-color)
}

